//= require_self
//= require_tree .

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("<%= asset_path('HelveticaNeue-Bold.eot') %>");
  src: url("<%= asset_path('HelveticaNeue-Bold.eot?#iefix') %>") format('embedded-opentype'), url("<%= asset_path('HelveticaNeue-Bold.woff') %>") format('woff'), url("<%= asset_path('HelveticaNeue-Bold.ttf') %>") format('truetype'), url("<%= asset_path('HelveticaNeue-Bold.svg#HelveticaNeueBold') %>") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url("<%= asset_path('HelveticaNeue-Medium.eot') %>");
  src: url("<%= asset_path('HelveticaNeue-Medium.eot?#iefix') %>") format('embedded-opentype'), url("<%= asset_path('HelveticaNeue-Medium.woff') %>") format('woff'), url("<%= asset_path('HelveticaNeue-Medium.ttf') %>") format('truetype'), url("<%= asset_path('HelveticaNeue-Medium.svg#HelveticaNeueMedium') %>") format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-family: Arial;
  background: #3972B0;
  cursor: default;
}

#main-container {
  margin: 50px 0 50px -335px;
  padding: 0;
  position: absolute;
  width: 670px;
  min-width: 670px;
  left: 50%;

  #date-panel {
    width: 373px;
    height: 42px;
    background: white;
    font-size: 20px;
    color: #424242;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    float: left;
    cursor: pointer;

    span {
      position: relative;
      top: 11px;
      left: 11px;
    }
  }

  #btn-search {
    position: relative;
    top: -5px;
    left: 3px;
    width: 135px;
    height: 54px;
    background: url("btn_search.png") no-repeat;
    float: left;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;

    span {
      position: relative;
      top: 18px;
      left: -1px;
    }
  }

  #btn-search:hover {
    opacity: 0.9;
  }

  #calendar {
    width: 670px;
    margin: 52px 0 20px 0;
    padding-bottom: 15px;
    text-align: center;
    display: none;

    background: #53B3CF; /* Old browsers */
    background: -moz-linear-gradient(top,  #53B3CF 0%, #41B2D3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53B3CF), color-stop(100%,#41B2D3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #53B3CF 0%,#41B2D3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #53B3CF 0%,#41B2D3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #53B3CF 0%,#41B2D3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #53B3CF 0%,#41B2D3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53B3CF', endColorstr='#41B2D3',GradientType=0 ); /* IE6-9 */

    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.35), 0 2px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.35), 0 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.35), 0 2px 8px rgba(0, 0, 0, 0.5);

    .title {
      padding-top: 16px;
      font-family: "HelveticaNeueBold", Arial;
      font-size: 14px;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    }

    #month-picker {
      list-style: none;
      margin-top: -3px;
      padding: 0;

      li {
        display: inline-block;
        font-size: 11px;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.32);
        padding: 4px 4px 1px 4px;
        width: 25px;
        height: 15px;
        text-transform: uppercase;
        cursor: pointer;
      }

      li:hover {
        opacity: 0.7;
      }

      li.left {
        position: relative;
        top: 8px;
        padding-right: 0;
        background: url("month_picker.png") no-repeat 12px 0;
      }

      li.right {
        position: relative;
        top: 8px;
        padding-left: 0;
        background: url("month_picker.png") no-repeat -16px 0;
      }

      li.active {
        background: #66ccff;
        border: 1px solid #fff;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius:4px;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
        opacity: 0.9;
        cursor: default;
      }

      li.disabled {
        opacity: 0.6;
        cursor: default;
      }
    }

    .calendar-holder {
      margin: 30px 33px 0 33px;
      font-family: "HelveticaNeueBold", Arial;

      th {
        width: 80px;
        font-size: 11px;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
        padding-bottom: 5px;
        text-transform: uppercase;

        span {
          position: relative;
          left: -2px;
        }
      }

      td {
        width: 86px;
        height: 81px;
        background: url("day_cell.png") no-repeat;
        background-position: center;

        .day-holder {
          width: 82px;
          height: 76px;
          margin-left: 2px;
          cursor: pointer;

          .day-num {
            font-size: 14px;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
            float: right;
            margin: 1px 62px 0 0;
            width: 82px;
            text-align: right;
          }

          noindex:-o-prefocus, .day-num {
            margin-top: 5px;
          }

          .event-count {
            font-size: 10px;
            font-family: "HelveticaNeueMedium", Arial;
            color: #666;
            height: 35px;
            width: 35px;
            margin: 8px 7px 0 0;
            float: right;

            p {
              font-size: 14px;
              font-family: "HelveticaNeueBold", Arial;
              padding: 0;
              margin: 0;
              position: relative;
              top: 4px;
            }
          }

          noindex:-o-prefocus, .event-count {
            margin-top: 13px;
          }

          .random-progress {
            float: left;
            width: 32px;
            height: 32px;
            position: relative;
            top: 12px;
            left: 5px;
            background: url("progress_background.png") no-repeat;
            margin: 0;

            box-shadow: 0 0 1px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 0 0 1px 0px rgba(0,0,0,0.7);
            -webkit-box-shadow: 0 0 1px 0px rgba(0,0,0,0.7);

            -moz-border-radius: 32px;
            -webkit-border-radius: 32px;
            border-radius: 32px;

            .progress-scale,
            .progress-cap,
            .progress-shadow,
            .progress-value-text {
              width: 100%;
              height: 100%;
              position: absolute;
            }
          }

          p.free-day {
            font-size: 9px;
            font-family: "HelveticaNeueMedium", Arial;
            color: #666;
            position: absolute;
            margin: 40px 0 0 17px;
          }
        }

        .day-holder.disabled {
          cursor: default;
        }
      }

      td.otherMonth {
        visibility: hidden;
      }

      td.start-day,
      td.end-day {
        .day-holder .random-progress,
        .day-holder .event-count,
        .day-holder .free-day {
          display: none;
        }
      }

      td.start-day {
        background: url("day_selectors.png") no-repeat 2px 2px;
      }

      td.end-day {
        background: url("day_selectors.png") no-repeat -84px 2px;
      }
    }
  }
}

@-moz-document url-prefix() {
  #main-container #calendar .calendar-holder td div {
    .random-progress {
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }

    .event-count {
      margin-top: 10px;

      p {
        padding-bottom: 4px;
      }
    }
  }
  #main-container #calendar .calendar-holder td div .random-progress {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  #main-container #calendar .calendar-holder td div .event-count p {
    padding-bottom: 4px;
  }
}
